schemas/aixm/4.5/AIXM-Snapshot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ************************************************************************************************

    Project:       	AERONAUTICAL INFORMATION EXCHANGE MODEL (AIXM)
    Owner:         	EUROCONTROL
    Title:         	AIXM Exchange Format

    Creation details
    ================
    Author:        	EUROCONTROL
    Address:       	Rue de la Fusee, 96, B-1130 Brussels, Belgium
    Tel:           	+32 2 729 3326
    URL:           	http://www.eurocontrol.int/ais/aixm

  
    File Name: AIXM-Snapshot.xsd
    
    Summary:   definition of AIXM snapshot (report) messages;
    
    Use: systems implementing the AIXM exchange format
    
    Copyright (c) 2006, EUROCONTROL
    ===============================
    All rights reserved.

    Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

    * Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
    * Neither the name of EUROCONTROL nor the names of its contributors  may be used to endorse or promote products derived from this software without specific prior written permission.

    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ==========================================
    Editorial note: this license is an instance of the BSD license template as provided by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php
    
    Date        Version  Who     Comment
    ==========  =======  ======  ==========================================================================
    2006-10-09	4.5-r2	 EPR	 Bugs correction:
									- added double 'l' in 'collocation' in AerodromeHeliportCollocationType and AerodromeHeliportCollocationUidType
									- removed letter 't' from NavaidDistanceIndicationtType
    2006-03-10	4.5-r1	 EPR	 Bugs correction:
									- no change in this file
    2005-11-17  4.5      XVI     Proposed version, starting from the previous version
                                 Changes are:
                                    - AIXM Change Description 4.0-1: no impact
                                    - AIXM Change Description 4.0-2: no impact
                                    - AIXM Change Description 4.0-3: no impact
                                    - AIXM Change Description 4.0-4: no impact
                                    - AIXM Change Description 4.0-5: no impact
                                    - AIXM Change Description 4.0-6: no impact
                                    - AIXM Change Description 4.0-7: no impact
                                    - AIXM Change Description 4.0-8: no impact
                                    - AIXM Change Description 4.0-9: no impact
                                    - AIXM Change Description 4.0-10: no impact
                                    - AIXM Change Description 4.0-11: no impact
                                    - AIXM Change Description 4.0-12: no impact
                                    - AIXM Change Description 4.0-13: no impact
                                    - AIXM Change Description 4.0-14: no impact
                                    - AIXM Change Description 4.0-15: no impact
                                    - AIXM Change Description 4.0-16: no impact
                                    - AIXM Change Description 4.0-17: no impact
                                    - AIXM Change Description 4.0-18: no impact
                                    - AIXM Change Description 4.0-19: no impact
                                    - AIXM Change Description 4.0-20: no impact
                                    - AIXM Change Description 4.0-21: no impact
                                    - AIXM Change Description 4.0-22: no impact
                                    - AIXM Change Description 4.0-23: Fao is deprecated and replaced by Fto
                                    - AIXM Change Description 4.0-24: no impact
                                    - AIXM Change Description 4.0-25: no impact
									- AIXM Change Description 4.0-26: added Als element
									- AIXM Change Description 4.0-27: no impact
                                    - AIXM Change Description 4.0-28: no impact
                                    - AIXM Change Description 4.0-29: added Oxg element
                                    - AIXM Change Description 4.0-30: added Ntg element
                                    - AIXM Change Description 4.0-31: no impact
                                    - AIXM Change Description 4.0-32: no impact
                                    - AIXM Change Description 4.0-33: no impact
                                    - AIXM Change Description 4.0-34: no impact
                                    - AIXM Change Description 4.0-35: no impact
                                    - AIXM Change Description 4.0-36: no impact
                                    - AIXM Change Description 4.0-37: no impact
                                    - AIXM Change Description 4.0-38: no impact
                                    - AIXM Change Description 4.0-39: no impact
                                    - AIXM Change Description 4.0-40: no impact
                                    - AIXM Change Description 4.0-41: no impact
                                    - AIXM Change Description 4.0-42: no impact
                                    - AIXM Change Description 4.0-43: no impact
                                    - AIXM Change Description 4.0-44: no impact
                                    - AIXM Change Description 4.0-45: no impact
                                    - AIXM Change Description 4.0-46: no impact
                                    - AIXM Change Description 4.0-47: no impact
                                    - AIXM Change Description 4.0-48: no impact
    2004-12-30  4.0a     SHE     Proposed version, starting from the previous version
                                 Changes are:
                                    - changed version number to 4.0a (proposed version 4.0 - alpha)
                                    - AIXM Change Description 3.3-1.: no impact
                                    - AIXM Change Description 3.3-2.: no impact
                                    - AIXM Change Description 3.3-3.: no impact
                                    - AIXM Change Description 3.3-4.: no impact
                                    - AIXM Change Description 3.3-5.: no impact
                                    - AIXM Change Description 3.3-6.: no impact
                                    - AIXM Change Description 3.3-7.:
										Aas and Adg are added in list of features
                                       	Aac is marked as "Deprecated"
                                    - AIXM Change Description 3.3-8.: no impact
                                    - AIXM Change Description 3.3-9.: no impact
                                    - AIXM Change Description 3.3-10.: no impact
                                    - AIXM Change Description 3.3-11.: no impact
                                    - AIXM Change Description 3.3-12.: no impact
                                    - AIXM Change Description 3.3-13.: no impact
                                    - AIXM Change Description 3.3-14.: no impact
                                    - AIXM Change Description 3.3-15.: no impact
                                    - AIXM Change Description 3.3-16.: no impact
                                    - AIXM Change Description 3.3-17.: no impact
                                    - AIXM Change Description 3.3-18.: no impact
                                    - AIXM Change Description 3.3-19.: no impact
                                    - AIXM Change Description 3.3-20.: no impact
                                    - AIXM Change Description 3.3-21.: 
										Tli, Vli, Dli and Nli are added in the list of features
                                    	Tln, Vln, Dln, Nln are marked as "Deprecated"
                                    - AIXM Change Description 3.3-22.: no impact
										Acr is added in the list of features
                                    - AIXM Change Description 3.3-23.: no impact
                                    - AIXM Change Description 3.3-24.: no impact		
                                    - AIXM Change Description 3.3-25.: no impact

    2003-02-12  3.3      EPR     Released version, starting from the previous version
                                 Changes are:
                                    - changed version number to 3.3 (synchronised with the entity-relationship model)
                                    - AIXM Change Descriptions 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78
                                        79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92: no impact

    2002-09-16  1.2      EPR     Released version, starting from the previous version
                                 There are no changes in this file.

    2002-06-10  1.1      EPR     Released version, starting from the previous version
                                 Changes are:
                                    - changed version number to 1.1
                                    - removed the possibility to include more versions of one feature;
                                      (AIXM-Snapshot is now realy a 'snapshot' at the date and time specified 
                                      in the 'created' attribute of the root element)
                                      All XxxVersionType complex types have been removed.
                                      The attribute group Validity has been removed.
                                      The attribute 'effective' has been added in the AIXM-Update element.
                                      

    2002-05-27  1.0      EPR     Released version, starting from the previous version.
                                 Changes are:
                                    - changed version number to 1.0
                                    - AIXM Change Description 59: no impact
                                    - AIXM Change Description 60: no impact
                                    - AIXM Change Description 61: no impact
                                    - AIXM Change Description 62: no impact
                                    - AIXM Change Description 63: no impact
                                    - AIXM Change Description 64: no impact
                                    - AIXM Change Description 65: no impact
                                    - AIXM Change Description 66: no impact
                                    - AIXM Change Description 67: no impact
                                    
    2002-03-28  0.9.1    EPR     Draft, starting from the previous version. 
                                 Main changes are:
                                    - inclusion of an annotation containing the version number of the schema
                                    - inclusion of a 'version' attribute in the <AIXM-Snapshot> element
                                    - all <AIXM-Snapshot> element attributes have been changed to lower case
                                    - removed RoutePortionType from the list of child elements of AIXM-Snapshot;
                                    - AIXM Change Description 57: no impact
                                    - AIXM Change Description 58: no impact
                                    

    2002-03-01  0.9      EPR     Draft, completely re-worked, starting from the AIXM Data Model. 
                                 Main changes are:
                                    - use of data types instead of global elements;
                                    - use of a new style for data types and element names
                                 Includes all AIXM Data Model changes up to and including no. 56

    ************************************************************************************************
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation>Version: 4.5-r2</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="AIXM-Features.xsd"/>
	<xsd:attributeGroup name="Changes"/>
	<xsd:element name="AIXM-Snapshot">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element name="Aas" type="AirspaceAssociationType"/>
				<xsd:element name="Abd" type="AirspaceBorderType"/>
				<xsd:element name="Acr" type="AirspaceCorridorType"/>
				<xsd:element name="Adg" type="AirspaceDerivedGeometryType"/>
				<xsd:element name="Aga" type="GroundServiceAddressType"/>
				<xsd:element name="Agl" type="AeronauticalGroundLightType"/>
				<xsd:element name="Aha" type="AerodromeHeliportAddressType"/>
				<xsd:element name="Ahc" type="AerodromeHeliportCollocationType"/>
				<xsd:element name="Aho" type="AerodromeHeliportObstacleType"/>
				<xsd:element name="Ahp" type="AerodromeHeliportType"/>
				<xsd:element name="Ahs" type="GroundServiceType"/>
				<xsd:element name="Ahu" type="AerodromeHeliportUsageType"/>
				<xsd:element name="Ain" type="NavaidAngularReferenceType"/>
				<xsd:element name="Als" type="ApronLightingSystemType"/>
				<xsd:element name="Ana" type="AerodromeHeliportNavaidType"/>
				<xsd:element name="Apg" type="ApronGeometryType"/>
				<xsd:element name="Apn" type="ApronType"/>
				<xsd:element name="Ase" type="AirspaceType"/>
				<xsd:element name="Din" type="NavaidDistanceIndicationType"/>
				<xsd:element name="Dli" type="DmeUsageLimitationType"/>
				<xsd:element name="Dme" type="DmeType"/>
				<xsd:element name="Dpn" type="DesignatedPointType"/>
				<xsd:element name="Fao" type="FatoOldType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.5</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Fto" type="FatoType"/>
				<xsd:element name="Fcp" type="FatoCentreLinePositionType"/>
				<xsd:element name="Fda" type="FatoDirectionApproachLightingType"/>
				<xsd:element name="Fdd" type="FatoDirectionDeclaredDistanceType"/>
				<xsd:element name="Fdn" type="FatoDirectionType"/>
				<xsd:element name="Fdo" type="FatoDirectionObstacleType"/>
				<xsd:element name="Fds" type="FatoDirectionStarType"/>
				<xsd:element name="Fls" type="FatoLightingSystemType"/>
				<xsd:element name="Fpa" type="FatoProtectionAreaType"/>
				<xsd:element name="Fpg" type="FatoProtectionAreaGeometryType"/>
				<xsd:element name="Fqy" type="FrequencyType"/>
				<xsd:element name="Ful" type="FuelType"/>
				<xsd:element name="Gbr" type="GeographicalBorderType"/>
				<xsd:element name="Gsd" type="GateStandType"/>
				<xsd:element name="Hpe" type="HoldingProcedureType"/>
				<xsd:element name="Iap" type="InstrumentApproachType"/>
				<xsd:element name="Ils" type="IlsType"/>
				<xsd:element name="Iue" type="InstrumentApproachUsageConditionType"/>
				<xsd:element name="Mgp" type="MsaGroupType"/>
				<xsd:element name="Mkr" type="MkrType"/>
				<xsd:element name="Mls" type="MlsType"/>
				<xsd:element name="Ndb" type="NdbType"/>
				<xsd:element name="Nli" type="NdbUsageLimitationType"/>
				<xsd:element name="Nsc" type="CheckpointType"/>
				<xsd:element name="Ntg" type="NitrogenType"/>
				<xsd:element name="Oaa" type="OrganisationAuthorityAddressType"/>
				<xsd:element name="Oae" type="AirspaceObstacleType"/>
				<xsd:element name="Oas" type="OrganisationAuthorityAssociationType"/>
				<xsd:element name="Obs" type="ObstacleType"/>
				<xsd:element name="Ofa" type="AirspaceAuthorityType"/>
				<xsd:element name="Oil" type="OilType"/>
				<xsd:element name="Org" type="OrganisationAuthorityType"/>
				<xsd:element name="Oxg" type="OxygenType"/>
				<xsd:element name="Pfy" type="PassengerFacilityType"/>
				<xsd:element name="Plb" type="CruisingLevelsTableType"/>
				<xsd:element name="Plc" type="CruisingLevelsColumnType"/>
				<xsd:element name="Rcp" type="RunwayCentreLinePositionType"/>
				<xsd:element name="Rda" type="RunwayDirectionApproachLightingSystemType"/>
				<xsd:element name="Rdd" type="RunwayDirectionDeclaredDistanceType"/>
				<xsd:element name="Rdn" type="RunwayDirectionType"/>
				<xsd:element name="Rdo" type="RunwayDirectionObstacleType"/>
				<xsd:element name="Rds" type="RunwayDirectionStarType"/>
				<xsd:element name="Rls" type="RunwayDirectionLightingSystemType"/>
				<xsd:element name="Rpa" type="RunwayProtectionAreaType"/>
				<xsd:element name="Rpg" type="RunwayProtectionAreaGeometryType"/>
				<xsd:element name="Rsg" type="RouteSegmentType"/>
				<xsd:element name="Rsu" type="RouteSegmentUsageType"/>
				<xsd:element name="Rte" type="EnrouteRouteType"/>
				<xsd:element name="Rwy" type="RunwayType"/>
				<xsd:element name="Sae" type="AirspaceServiceType"/>
				<xsd:element name="Sah" type="AerodromeHeliportServiceType"/>
				<xsd:element name="Ser" type="ServiceType"/>
				<xsd:element name="Shp" type="HoldingProcedureServiceType"/>
				<xsd:element name="Sia" type="StarType"/>
				<xsd:element name="Sid" type="SidType"/>
				<xsd:element name="Sip" type="InstrumentApproachServiceType"/>
				<xsd:element name="Sns" type="SpecialNavigationSystemStationType"/>
				<xsd:element name="Sny" type="SpecialNavigationSystemType"/>
				<xsd:element name="Spa" type="SignificantPointAirspaceType"/>
				<xsd:element name="Spd" type="SpecialDateType"/>
				<xsd:element name="Srs" type="RouteSegmentServiceType"/>
				<xsd:element name="Ssd" type="SidServiceType"/>
				<xsd:element name="Sse" type="StarUsageType"/>
				<xsd:element name="Ssr" type="StarServiceType"/>
				<xsd:element name="Sue" type="SidUsageType"/>
				<xsd:element name="Swy" type="StopwayType"/>
				<xsd:element name="Tcn" type="TacanType"/>
				<xsd:element name="Tcp" type="TaxiwayCentreLinePositionType"/>
				<xsd:element name="Tfr" type="TrafficFlowRestrictionType"/>
				<xsd:element name="Thp" type="TaxiwayHoldingPositionType"/>
				<xsd:element name="Tla" type="TlofType"/>
				<xsd:element name="Tlg" type="TlofGeometryType"/>
				<xsd:element name="Tli" type="TacanUsageLimitationType"/>
				<xsd:element name="Tls" type="TlofLightingSystemType"/>
				<xsd:element name="Tly" type="TaxiwayLightingSystemType"/>
				<xsd:element name="Tsa" type="TlofSafeAreaType"/>
				<xsd:element name="Tsg" type="TlofSafeAreaGeometryType"/>
				<xsd:element name="Twy" type="TaxiwayType"/>
				<xsd:element name="Uac" type="UnitAssociationType"/>
				<xsd:element name="Uas" type="UnitContactAddressType"/>
				<xsd:element name="Uni" type="UnitType"/>
				<xsd:element name="Vli" type="VorUsageLimitationType"/>
				<xsd:element name="Vor" type="VorType"/>
				<xsd:element name="Aac" type="AirspaceAssocType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.0</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Dln" type="DmeLimitationType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.0</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Nln" type="NdbLimitationType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.0</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Tln" type="TacanLimitationType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.0</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Vln" type="VorLimitationType">
					<xsd:annotation>
						<xsd:appinfo>DEPRECATED-4.0</xsd:appinfo>
						<xsd:documentation>[Deprecated]</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			<xsd:attribute name="version" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The version of the AIXM-Snapshot.xsd schema to which the message conforms</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="origin" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The originator (source) of the message</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="created" type="xsd:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation>The date and time when the message was created</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="effective" type="xsd:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation>The date and time used as criteria to select valid versions included in the message</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
